<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div class="container">
      <div>
        <table>
          <thead>
          <tr>
            <th>#</th>
            <th>회원 목록 볼래?</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="member :${members}">
            <td th:text="${member.id}"></td>
            <td th:text="${member.name}"></td>
            <td th:text="${member.adress}"></td>
            <td th:text="${member.email}"></td>
        </table>
      </div>

    </div>
</body>
</html>